@model IEnumerable<OnlineStore.Domain.Entities.Product>

@{
    ViewBag.Title = "Products";
}

@foreach(var p in Model)
{
    <div>
        <h3>@p.Name</h3>
        <h4>@p.Price.ToString("c")</h4>
        @p.Description
    </div>
}

